* {
  box-sizing: border-box;
  font-family: "roboto";
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 99vw;
  gap: 1em;
  background-color: aqua;
  padding: 2rem;
  border-radius: 30px;
}
.greeting {
  font-size: 2em;
}

#my-goals {
  font-size: 1em;
}
.my-deets {
  max-width: 50%;
  font-size: 1.5em;
  font-family: "roboto";
}

.img-container {
  /* width: 300px;
  height: 500px; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.clock-container {
  margin-top: 2em;
  max-width: 98vw;
  background-color: darksalmon;
  border-radius: 30px;
  padding: 2em;
  text-align: center;
}

[data-testid="currentTimeUTC"] {
  color: red;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
}
a:hover {
  color: green;
}
#email {
  font-size: 0.8em;
}

@media (max-width: 760px) {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  html {
    width: 100%;
  }
  .about-me {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
  }
  .img-container {
    align-self: center;
    justify-content: center;
  }
  .my-deets {
    max-width: 600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
  }
  #email {
    color: red;
  }
  ul {
    padding: 0;
    padding-top: 0.5em;
    height: 50px;
    background-color: darkcyan;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0;
    justify-content: space-evenly;
    font-size: 0.8em;
  }
  ul li {
    padding: 0%;

    text-align: center;
    display: flex;
    align-items: center;
  }
  ul li a {
    color: white;
  }

  .clock-container {
    border-radius: 300px;
    width: 80%;
    margin: 0 auto;
  }
}
