
/* .about-me {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  gap: 0;
  background-color: #ff7f50;
  /* padding: 1em; */
  border-radius: 10px;
} */

/* .img img {
  margin-right: 1em;
  border-radius: 100px;
} */
.img {
  border: 1px solid red;
  height: 10%;
}

html {
  margin: 0;
  padding: 1% 1%;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .about-me div {
  width: 50%;
} */
/* 
.my-deets * {
  max-width: 400px;
  border: 1px solid white;
} */

.greeting {
  margin-top: auto;
  font-size: 3em;
  font-family: "comic sans";
}

#my-goals {
  font-size: 2em;
}

.clock-container {
}
